body {
  font-family: "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, serif;
  font-size: 87.5%;
  color: #cccccc;
  line-height: 2em;
  
  /* http://lea.verou.me/css3patterns/#carbon */
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #111111;
  background-size: 20px 20px;
}

#menu {
  background: rgba(0,0,0,0.5);
  -webkit-backface-visibility: hidden;
}

#menu a.active {
  -webkit-backface-visibility: hidden;
}

.header {
  color: #ddd;
}

/* Changes history */
div.record {
  background: #555555;
  
  margin: 20px auto;
  padding: 0px;
  text-align: left;
  border: 1px solid #333333;
  /* border-radius */
  border-radius: 5px 5px 5px 5px;
}

div.record > div.commit
{
  font-style: italic;
  font-weight: bold;
  
  background: #333333;
  
  padding: 10px;
  
  /* border-radius */
  border-radius: 5px 5px 0px 0px;
}

div.record > div.description
{
  white-space: pre;
  color: #eee;
  padding: 10px;
}

div.record > div.downloads
{
  background: #333333;
  
  padding: 10px;
  
  /* border-radius */
  border-radius: 0px 0px 5px 5px;
}

a {
  color: white
}

a:hover , a:visited:hover {
  color: #fa9e0e
}

a:visited {
  color: silver;
}

iframe {
  border: 0px;
}