body {
  font-family: "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, serif;
  font-size: 87.5%;
  line-height: 2em;
  background: #fffffc;
}

#menu {
  -webkit-backface-visibility: hidden;
}

#layout.active #menu {
}

.menu-link {
  -webkit-backface-visibility: hidden;
}

/* Changes history */
div.record {
  margin: 20px auto;
  padding: 0px;
  text-align: left;
  border: 1px solid #DBDBDB;;
  border-radius: 5px 5px 5px 5px;
}

div.record > div.commit
{
  font-style: italic;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  color: #6E87B0;
}

div.record > div.description
{
  padding: 10px;
  text-indent: 1em;
  background: #EDEDED;
}

div.record > div.downloads
{
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  color: #6E87B0;
}

a {
}

a:hover , a:visited:hover {
}

a:visited {
}

a[target="_blank"]:after {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QAAAAAAAD5Q7t/AAAAZ0lEQVQY042O0Q2AMAhE7wxrOIMrOE2Zia7hJG6gk+CPTZC2ie+P410p8BPGwd03AGut9Yi5qlI+LfIEcLYHzMzbTuKQUVW2vbQgCqPykgMz81gspeydmKWXqxMHEkjew9MzZPb5zANEYiWKbAo0jAAAAABJRU5ErkJggg==");
    margin: 5px;
}

.header {
    border-bottom: none;
}

#menu .pure-menu ul, #menu .pure-menu .menu-item-divided {
    border-top: none;
}

#menu .pure-menu-link.active {
  background: #FFE7A0;
  color: #6E6E7A;
}

iframe {
  border: 0px;
}

hr {
    border: 0;
    height: 2px;
    margin:18px 0;
    position:relative;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(110,110,122,0.65) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(50%,rgba(110,110,122,0.65)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(110,110,122,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(110,110,122,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(110,110,122,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(110,110,122,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

#menu .menu-switcher {
  display: block;
  color: green;
  overflow: hidden;
}
#menu .menu-switcher div {
  width: 50%;
  float: left;
  text-align: center;
  margin: 0;
  padding: 0;
}

#menu .menu-switcher a {
  margin: 0;
  padding: 0;
  font-size: 87.5%;
  line-height: 2em;
}

#menu .menu-switcher a:hover, #menu .menu-switcher a:focus {
    color: #6E6E7A;
}