body {
  font-family: "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, serif;
  font-size: 87.5%;
  color: #cccccc;
  line-height: 2em;
  
  /* http://lea.verou.me/css3patterns/#carbon */
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #111111;
  background-size: 20px 20px;
}

#menu {
  background: rgba(0,0,0,0.7);
}

#menu a.active {
  color: white;
}
