language: cpp
compiler: gcc

dist: trusty
sudo: required

env:
    global:
        - MAKEFLAGS="-j4"
    matrix:
        - QT_BASE=5_15

before_install:
    - if [ "$QT_BASE" = "5_15" ]; then sudo add-apt-repository --yes ppa:beineri/opt-qt-5.15.2-focal; fi
    - sudo apt-get update -qq

install:
    - if [ "$QT_BASE" = "5_15" ]; then sudo apt-get install -y --force-yes qt515base qt515xmlpatterns qt515svg qt515declarative qt515tools; fi
    - sudo apt-get install -y --force-yes build-essential libglu1-mesa-dev

before_script:
    - if [ "$QT_BASE" = "5_15" ]; then source /opt/qt515/bin/qt515-env.sh; fi


script:
    - if [ "$QT_BASE" = "5_15" ]; then /opt/qt515/bin/qmake lcd-image-converter.pro; fi
    - make
