<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>{{ page.title }}</title>

    <!--// http://purecss.io/menus/ //-->
    <link rel="stylesheet" href="css/pure-min.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/side-menu.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="css/global.css" >
  
</head>
<body>


