{% assign samePages = site.pages | where: "wid",page.wid %}
{% assign sameDocs = site.wiki | where: "wid",page.wid %}
<div class="menu-switcher">
    {% for p in samePages %}
        <div>
            <a class="pure-menu-link {% if p.url == page.url %}active{% endif %}" href="{{ relative-baseurl }}{{ p.url | replace_first:'/',''}}">{{ p.lang }}</a>
        </div>
    {% endfor %}
    {% for p in sameDocs %}
        <div>
            <a class="pure-menu-link {% if p.url == page.url %}active{% endif %}" href="{{ relative-baseurl }}{{ p.url | replace_first:'/',''}}">{{ p.lang }}</a>
        </div>
    {% endfor %}
</div>

