@start_block_header@
// filename: @fileName@
// name: @documentName@
// family: @fontFamily@
// size: @fontSize@
// style: @fontStyle@
// included characters: @string@
// antialiasing: @fontAntialising@
// type: @fontWidthType@
// encoding: UTF-8
// unicode bom: yes

// preprocess:
//  rotate: @rotate@
//  flip horizontal: @flipHorizontal@
//  flip vertical: @flipVertical@
//  inverse: @inverse@

// bytes order:
//  swap bytes: @swapBytes@
//  mirror: @mirror@
//  pack: @pack@

// typedef struct {
//     const long int code;
//     const tImage *image;
//     } tChar;
// typedef struct {
//     const int length;
//     const tChar *chars;
//     } tFont;
@end_block_header@

@start_block_images_table@
const unsigned char image_data_@documentName_ws@_0x@charCode@[@blocksCount@] = {
    @imageData@
};
const tImage @documentName_ws@_0x@charCode@ = { &image_data_@documentName_ws@_0x@charCode@[0], @width@, @height@};
@end_block_images_table@

const tChar @documentName_ws@_array[] = {
@start_block_images_table@
  // character: '@charText@'
  {0x@charCode@, &@documentName_ws@_0x@charCode@}@comma@
@end_block_images_table@
};

@start_block_font_def@
const tFont @documentName_ws@ = { @imagesCount@, &@documentName_ws@_array[0] };
@end_block_font_def@
