body {
  padding: 10px;
  font-size: medium;
}

pre {
  padding: 5px;
  font-style: italic;
}

div.record-old
{
    color: silver;
}

div.record-current
{
    font-weight: bold;
}

div.record-new
{
    color: navy;
}
