@start_block_header@
// @dataType@
// filename: @fileName@
// name: @documentName@
// encoding: UTF-8
// unicode bom: yes

// preprocess:
//  rotate: @rotate@
//  flip horizontal: @flipHorizontal@
//  flip vertical: @flipVertical@
//  inverse: @inverse@

// bytes order:
//  swap bytes: @swapBytes@
//  mirror: @mirror@
//  pack: @pack@

// typedef struct {
//     const unsigned char *data;
//     const int width;
//     const int height;
//     } tImage;
@end_block_header@

@start_block_images_table@
const unsigned char image_data_@documentName_ws@[@blocksCount@] = {
    @imageData@
};
tImage @documentName_ws@ = { &image_data_@documentName_ws@[0], @width@, @height@};
@end_block_images_table@
