body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
}

div.record {
  background: whitesmoke;
  
  margin: 20px auto;
  padding: 10px;
  text-align: left;
  /* border-radius */
  border-radius: 5px;
}

div.commit
{
  font-style: italic;
  font-weight: bold;
  
  background: lightsteelblue;
  color: green;
  
  padding: 10px;
  
  /* border-radius */
  border-radius: 5px;
}

div.description
{
  color: navy;
  white-space: pre;
  border: 1px solid silver;
  
  padding: 10px;

  /* border-radius */
  border-radius: 5px;
}

div.downloads
{
  background: gainsboro;
  
  padding: 10px;
  
  /* border-radius */
  border-radius: 5px;
}

div.header
{
  
}
